header {
  background-color: #014040;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  #social {
    display: flex;
    align-items: flex-end;

    #fb,
    #insta {
      width: 60px;
      filter: grayscale(100%) invert(79%) sepia(13%) saturate(623%)
        hue-rotate(300deg) brightness(101%) contrast(90%);
      margin: 5px;
    }
  }

  a {
    text-decoration: none;
    color: #f2bdc7;
    text-transform: uppercase;
  }

  #nav-links {
    display: flex;
    list-style: none;
    align-items: flex-end;
    margin-bottom: 30px;

    a {
      margin: 0.2rem;
      padding: 1rem 0.5rem;
    }
  }
}
